input#nombreUsuario(required='' type='email' name='nombreUsuario' placeholder='Introduzca su mail')
#messages
input#mensaje(required='' type='text' name='' placeholder='Ingrese un mensaje...')
button(type='button' onclick='sendMessage()') Enviar